
/*.admin {font-family: 'Pretendard';}*/
/* 공통 */
.admin .w80 {width:80px;}
.admin .w100 {width:100px;}
.admin .w120 {width:120px;}
.admin .w140 {width:140px;}
.admin .w180 {width:180px !important;}
.admin .w230 {width:230px;}
.admin .w280 {width:280px;}
.admin .w370 {width:370px;}
.admin .w460 {width:460px;}
.admin .w600 {width:600px;}
.admin .w800 {width:800px;}
.admin .w1000 {width:1000px;}
.admin .w1400 {width:1400px;}
.admin .w1600 {width:1600px;}
.admin .w1800 {width:1800px;}

.admin .wp100 {width:100% !important;}

.admin .mb5 {margin-bottom:5px !important;}
.admin .mb15 {margin-bottom:15px !important;}
.admin .mr10 {margin-right:10px !important;}
.admin .ml10 {margin-left:10px !important;}
.admin .m0 {margin:0 !important;}

.admin .hide {display:none;}
.admin .block {display:block !important;}

.admin .bd10 {border-radius: 10px !important;}
.admin .bd20 {border-radius: 20px !important;}
.admin .bd50 {border-radius: 50px !important;}

.admin .blue {color: #0047a0;}
.admin .red {color: #de1414;}
.admin .green {color: #05b10b;}

.admin .flex {display:flex;align-items: center;}
.admin .flex.between {justify-content: space-between;}
.admin .flex.start {display:flex; align-items: flex-start;}
.admin .flex.end {align-items: flex-end;}
.admin .font-38 {font-size: 38px; font-weight: 700;}
.admin .font-24 {font-size: 24px; font-weight: 700;}
.admin .font-21 {font-size: 21px; font-weight: 600;}
.admin .font-18 {font-size: 16px; font-weight: 500; color: #616161;}
.admin .font-12 {font-size: 12px; font-weight: 500; color: #818181; text-decoration: underline;}
.admin a.font-12 {font-size: 12px; font-weight: 500; color: #818181; text-decoration: underline;}

/* type number 화살표 없애기 */
.admin input[type='number']::-webkit-outer-spin-button,
.admin input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* btn */
.admin a.login {display:inline-block;width: 104px;height: 36px;line-height: 36px;background: #0047A0;color: #fff;font-size: 12px;font-weight: 500;text-align: center;border-radius: 50px;}
.admin .subbtn_box {margin:10px auto 0;text-align: right;padding:20px 0;background: rgba(255,255,255,0.9);position:sticky;bottom:0;right:0;}
.admin a.mainbtn {display:inline-block;width: 140px;height: 38px;line-height: 36px;font-size: 16px;font-weight: 500;text-align: center;border-radius: 50px;margin: 0 10px 0 0 ;transition:all 0.3s;}
.admin a.mainbtn:last-child {margin: 0;}
.admin a.mainbtn.btn01 {background: #0047A0;color: #fff;}
.admin a.mainbtn.btn01:hover {background: #003679;}
.admin a.mainbtn.btn02 {background: #EFEFEF;color: #A6A6A6;}
.admin a.mainbtn.btn02:hover {background: #ddd;}

.admin a.subbtn {display:inline-block;width:auto;padding: 0 20px;height: 28px;text-align: center;line-height: 26px;border-radius: 5px;font-size: 14px;cursor:pointer;margin: 0 6px 0 0;}
.admin a.subbtn.on {background: #0047a0;color:#fff;transition:all 0.3s;}
.admin a.subbtn.off {background:#a8a8a8;color:#fff;}
.admin a.subbtn.del {background:#dd0000;color:#fff;}
.admin a.subbtn.sub {background:#05c091;color:#fff;}
.admin a.subbtn.hold {border: 1px solid #efefef;background: #efefef;color: #bdbdbd;}
.admin a.subbtn.hold:hover {border: 1px solid #efefef;background: #efefef;color: #bdbdbd;}
.admin a.backbtn {display:inline-block;height: 53px;line-height: 53px;font-size: 16px;text-align: center;border-radius: 50px;transition:all 0.3s;border: 1px solid #ddd;padding: 0 60px;color: #bdbdbd;}
/* 리액트 추가 */
.admin a.backbtn.on {background: #0047a0;color:#fff;transition:all 0.3s;}
/* 리액트 추가 END */
.admin a.backbtn:hover {color: #616161;border: 1px solid #a8a8a8;}
.admin a.hotel_btn {display:inline-block;width: 220px;height: 53px;line-height: 53px;font-size: 16px;text-align: center;border-radius: 50px;margin: 0 20px 0 0 ;transition:all 0.3s;}
.admin .file {display:none;}
.admin .file_btn {display:inline-block;width:auto;min-width:146px;padding: 0 38px;height: 48px;text-align: center;line-height: 48px;border: 1px solid #ddd;color: #818181;cursor: pointer;}
.admin a.tablebtn {display:inline-block;width:auto;padding: 0 10px;height: 26px;text-align: center;line-height: 26px;border-radius: 5px;font-size: 12px;background: #525252;color:#fff;transition:all 0.3s;}
.admin a.tablebtn.line {background: #f2f2f2;color: #111;font-size: 16px;padding:0 5px;line-height:24px;}
.admin a.tablebtn:first-child {margin: 0;}
.admin .plusbtn_wrap{display:flex;justify-content: space-between;}
.admin .plusbtn_wrap a {padding:0 8px;border: 1px solid #ddd;display: inline-block;border-radius: 5px;line-height: 21px;}

.admin select {border: 1px solid #ddd;height:28px;line-height:28px;font-size: 14px;color: #333;padding: 0 10px;cursor:pointer;border-radius: 5px;-webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; appearance:none; background:url('/img/common/arrow_btm.png') right 10px center no-repeat;min-width:86px;}
.admin input::placeholder {color: #a6a6a6;}
.admin input.input {border: 1px solid #ddd;height:28px;line-height:28px;font-size: 14px;color: #333;padding: 0 10px;display:inline-block;min-width:80px;border-radius: 5px;font-family: inherit;}
.admin textarea {border: 1px solid #ddd;height:28px;line-height:14px;font-size: 14px;color: #333;padding: 0 10px;display:inline-block;min-width:80px;border-radius: 5px;font-family: inherit;resize:none;min-height:80px;width:100%;}
.admin input.input.hold {background: #efefef;color: #bdbdbd;}
.admin input.input:last-child {margin:0;}
.admin input.login {border: 1px solid #818181;height:36px;line-height:36px;font-size: 12px;color: #333;padding: 0 10px;border-radius: 5px;}
.admin label.checkbox {display:flex;width:30px;height:30px;border: 1px solid #bdbdbd;border-radius: 50%;text-align:center;align-items: center;justify-content: center;cursor: pointer;}
.admin input[type="checkbox"]:checked + label.checkbox {background:#0047a0;border: 1px solid #0047a0;}
.admin input[type="checkbox"]:checked + label.checkbox svg {fill:#fff;}

.admin .content {padding:0 0 0 180px;}
.admin .con_area {padding:20px;}
.admin .title{padding:10px 20px;border-bottom: 1px solid #Ddd;}
.admin .title h3 {display:inline-block;font-size: 21px;font-weight: 700;}
.admin h3.title {font-size: 38px;font-weight: 700;}
.admin h3.h_title {font-size: 21px;font-weight: 700;border:none;margin:0 0 20px;}
.admin .title p {display:inline-block;font-size: 21px;font-weight: 500;color: #818181;margin: 0 0 0 30px;}
.admin .title_flex_wrap {display:flex;margin:0 0 10px; align-items: center; justify-content: space-between;}
.admin .title_flex_wrap > * {margin:0 !important;}

.admin .subtitle {font-size: 42px;font-weight: 700;}

.admin .linebox {border: 1px solid #ddd;padding:10px;}

/* 공통 //E */

/*!* 모달 //S *!*/
/*.admin h4.mo_title {font-size: 24px;font-weight: 700;margin:0 0 20px;padding: 0 0 10px;border-bottom: 1px solid #ddd;;}*/
/*!*.admin div.mo_title {font-size: 24px;font-weight: 700;margin:0 0 20px;padding: 40px 10px 20px ;border-bottom: 1px solid #ddd;display:flex;justify-content: space-between;position:sticky;top:0;left:0;background:#fff;z-index:10;}*!*/
/*.admin div.mo_title {font-size: 24px;font-weight: 700;margin:0 0 20px;border-bottom: 1px solid #ddd;display:flex;justify-content: space-between;position:sticky;top:0;left:0;background:#fff;z-index:10;}*/
/*.admin div.mo_title > h4{font-size: 24px;font-weight: 700;}*/
/*.admin .mo_subtitle {font-size:18px;font-weight: 700;margin:20px;}*/
/*!* .modal_wrap {display:none;position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;background: rgba(0,0,0,0.4);z-index:999;} *!*/
/*.admin .modal_wrap {display:block;position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;z-index:999;}*/
/*!* .modal_wrap .modal {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); box-shadow: 5px 5px 15px rgba(0,0,0,0.1);background:#fff;padding:40px;max-height:90%;overflow-y:scroll;z-index:999;border-radius: 5px;} *!*/
/*.admin .modal_wrap .modal {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); box-shadow: 5px 5px 15px rgba(0,0,0,0.1);background:#fff;max-height:840px;overflow-y:scroll;z-index:999;border-radius: 5px;padding:0 40px;z-index:10;}*/
/*.admin .modal{ -ms-overflow-style: none; } .modal::-webkit-scrollbar{ display:none; }*/
/*!*.admin .modal_wrap .modal .modal_close {position:absolute;top:42px;right:0;cursor:pointer;}*!*/
/*.admin .modal_wrap .modal .modal_close {cursor:pointer!important;}*/
/*.admin .modal_wrap .modal .modal_close img {width: 16px;}*/
/*.admin .modal_content {display:block;}*/
/*.admin .modal_wrap .noti_modal {width:600px;max-height:500px;text-align: center;padding:30px;z-index:100;}*/

/*.admin .modal_wrap .noti_modal .btn_box {margin:40px 0 0;}*/
/*.admin .noti_modal.modal_big {width:800px;max-height:800px;text-align: center;}*/
/*.admin .noti_modal h3 {font-size:27px;font-weight: 700;}*/
/*.admin .noti_modal p {font-size:21px;font-weight: 500;margin:12px 0 0;}*/
/*.admin .noti_modal .noti_icon {text-align:center;display: block;margin:0 0 24px;}*/
/*.admin .noti_modal .noti_icon img {width: 80px;}*/
/*.admin .block {display:block;}*/


/*!* 리액트 변환함 *!*/
/*.admin .modal_btn_footer_box {position:sticky;bottom:-40px;left:0;width:100%;background:#fff;padding:20px 0;margin-bottom: -40px;}*/
/*!* 모달 //E *!*/

/* alert */
.admin .alert_wrap {display:block;position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;background: rgba(0,0,0,0.1);z-index:9999;}
.admin .alert_wrap .alert {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); box-shadow: 5px 5px 15px rgba(0,0,0,0.1);background:#fff;padding:40px 50px;max-height:840px;overflow-y:scroll;z-index:999;border-radius: 5px;z-index:10;max-height:500px;text-align: center;z-index:100;}
.admin .alert.modal_big {width:800px;max-height:800px;text-align: center;}
.admin .alert h3 {font-size:24px;font-weight: 700;}
.admin .alert p {font-size:21px;font-weight: 500;margin:12px 0 0;}
.admin .alert .noti_icon {text-align:center;display: block;margin:0 0 24px;}
.admin .alert .noti_icon img {width: 80px;}
.admin .alert{ -ms-overflow-style: none; } .alert::-webkit-scrollbar{ display:none; }
.admin .alert span.alert_icon {color:#fff;font-weight: 900;display:inline-block;width:24px;height:24px;background: #dd0000;border-radius: 50%;margin:0 0 10px;line-height: 24px;}
.admin .alert span.confirm_icon {color:#fff;font-weight: 900;display:inline-block;width:24px;height:24px;background: #2f81e9;border-radius: 50%;margin:0 0 10px;line-height: 24px;}

.admin .modal_btn_box {display:flex; justify-content: flex-end; gap:10px;margin:30px 0 0; }
.admin .modal_btn {border: 1px solid #a8a8a8;border-radius: 5px;display:inline-block;padding:0 20px;line-height: 32px;}
.admin .modal_btn.on {border: 1px solid #003679;border-radius: 5px;display:inline-block;padding:0 20px;line-height: 32px;background: #003679;color: #fff;}
/* alert */


/* header */

.admin .adm_profile {text-align: center;color: #fff;padding:20px 0;font-size: 14px;}
.admin .adm_profile p {margin:0 0 10px;}

.admin .gnb {position:fixed;width:180px;height:100vh;top:0;left:0;background:#353535;overflow-y:scroll;}
.admin .gnb{ -ms-overflow-style: none; } .gnb::-webkit-scrollbar{ display:none; }
.admin .gnb h1 {text-align: center;padding:20px 0;}
.admin .gnb h1 img {width:140px;}
.admin .gnb #all_gnb {display:block;height:36px;line-height:36px;color: #fff;padding:0 20px;display:block;background: #616161;cursor:pointer;}
.admin .gnb > ul > li > a {display:block;height:36px;line-height:36px;color: #fff;padding:0 20px;display:block;}
.admin .gnb > ul > li > a.on {background: #0047A0;}
.admin .gnb ul li a img {width: 10px;margin:0 0 4px 5px;}
.admin .gnb .sub_2depth {display:none;background: #111;}
.admin .gnb .sub_2depth > li > a {display:block;height:38px;line-height:38px;color: #efefef;font-size: 14px;padding:0 20px;display:block;}
.admin .gnb .sub_2depth > li > a:hover, .sub_header .sub_2depth > li > a.on{background: #111;}
.admin .sub_header .sub_2depth > li > a.on{background: #01244f;}
.admin .gnb .sub_3depth {display:none;background: #222;}
.admin .gnb .sub_3depth > li > a {color: #9e9e9e;height:30px;line-height:30px;font-size: 14px;display:block;padding:0 30px;}
.admin .gnb .sub_3depth > li > a:hover, .sub_header .sub_3depth > li > a.on {color: #fff;}
.admin .gnb a {cursor:pointer;}

/* 로그인 */
.admin .login_wrap {width: 100%;height:100vh;background: #f2f2f2;padding:50px 0 0;}
.admin .login_wrap h1{text-align: center;}
.admin .login_wrap p {font-size: 21px;text-align: center;margin:20px 0;font-weight: 700;}
.admin .login_wrap h5 {margin:0 0 5px;}
.admin .login {width:600px;padding:50px;margin:0 auto;background:#fff;}
.admin .login .login_btn {margin:20px 0 0;justify-content: space-between;}
.admin .login input[type="text"], .login input[type="password"] {background:none;border-radius: 0;color: #111;width: 100%;height: 38px;}
.admin .login .input_id {margin:0 0 20px;}
.admin .login input::placeholder {color: #a8a8a8;}
.admin .adm_search {margin:0 0 40px;border-bottom: 1px solid #eee;padding:0 0 20px;display:flex;justify-content: space-between;}
.admin .adm_search h5 {display: inline-block;font-weight: 600;}

.admin .table_a {border-top: 1px solid #a8a8a8;}
.admin .table_a thead th {font-size: 16px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}
.admin .table_a tbody th {font-size: 16px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}
.admin .table_a thead th:last-child {border-right: none;}
.admin .table_a tbody td:last-child {border-right: none;}
.admin .table_a tbody td {font-size: 16px;padding:5px;text-align: center;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}
.admin .table_a tbody td.inner_table_wrap {padding:0;}
.admin .table_a tbody td.inner_table_wrap .inner_table tr:last-child th, .table_a tbody td.inner_table_wrap .inner_table tr:last-child td {border-bottom:none;}

.admin .table_b {border-top: 1px solid #ddd;}
.admin .table_b thead th {font-size: 16px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.admin .table_b tbody th {font-size: 16px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.admin .table_b tbody td:last-child {border-right: none;}
.admin .table_b tbody td {font-size: 16px;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: left;}

.admin .table_bb {border-top: 1px solid #ddd;}
.admin .table_bb thead th {font-size: 14px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.admin .table_bb tbody th {font-size: 14px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.admin .table_bb tbody td:last-child {border-right: none;}
.admin .table_bb tbody td {font-size: 14px;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: left;}
.admin .table_bb select, .table_bb input {font-size: 14px;font-family:'Pretendard';}
.admin .table_bb td > div {margin:0 0 6px;}
.admin .table_bb td > div > input {margin: 0 6px 0 0;}

.admin .inner_table tbody th {font-size:14px;padding:2px;}
.admin .inner_table tbody td {font-size:14px;padding:2px;}

.admin .modal_table thead th, .modal_table tbody th, .modal_table tbody td{font-size: 14px;padding:5px;}

/* 회원등록 */
.admin .sign {display:flex;    justify-content: center;}
.admin .sign .input_wrap {margin:0 0 20px;}
.admin .sign .flex > div {margin:0 10px 0 0;}
.admin .sign h5 {margin: 0 0 5px;}

/* 호텔리스트 */
.admin .person_btn img {width:14px;margin: 0 0 -5px;cursor:pointer;}
.admin .person_td {position: relative;}
.admin .person_box {display:none;position: absolute;left:50%;transform:translate(-50%, 0);text-align: left;padding:10px;background: #fff;box-shadow: 0 0 5px rgba(0,0,0,0.1);border:2px solid #eee;width:260px}
.admin .person_box.on {display:block;}
.admin .person_box p {font-size: 14px;}

.admin .hotel_thumb_td img{max-width:100px;}

/* 광순이가 추가함 */
.admin .hotel_preview ul li {border: 1px solid #ddd;padding: 40px;display:flex;border-radius: 50px;}
.admin .hotel_preview ul li span.hotel_preview_thumb {width: 745px;height: 450px;overflow:hidden;border-radius: 50px;}
.admin .hotel_preview ul li span.hotel_preview_thumb img {width: 100%;}
.admin .hotel_preview ul li .hotel_preview_txt {width: calc( 100% - 745px ) ;padding:0 0 0 30px;}
.admin .hotel_preview ul li .hotel_preview_txt h3 {font-size: 32px;font-weight: 700;color: #000;}
.admin .hotel_preview ul li .hotel_preview_txt h5 {font-size: 21px;font-weight: 600;color: #616161;margin:10px 0 20px;}
.admin .hotel_preview ul li .hotel_preview_txt .hotel_venue p{font-size: 21px;font-weight: 500;}
.admin .hotel_preview ul li .hotel_preview_txt .hotel_venue p span{display:inline-block;vertical-align:middle;margin:0 10px 0 0;}
.admin .hotel_preview ul li .hotel_preview_txt .hotel_intro {color: #333;margin:10px 0 20px;margin:28px 0 40px;}
.admin .hotel_preview ul li .hotel_list_txt .hotel_intro .hotel_intro_more {display:inline-block;color: #818181;cursor:pointer;}


/* 호텔등록 */
.admin .hotel label {margin:0 10px 0 0;}
.admin .hotel_box {margin:0 0 10px;}
.admin .hotel_img {display:inline-block;width:150px;height:90px;overflow:hidden;background-color:#efefef;margin:0 0 6px;}
.admin .hotel_img img {width: 100%;}
.admin .hotel_radio_box {display: inline-block;margin:0 10px 0 0;}
.admin .hotel_radio_box label {cursor:pointer;}
.admin .hotel_star_wrap {display:flex;width:20px;cursor:pointer;}
.admin .hotel_star_wrap span.star {display:inline-block;width:20px;cursor:pointer;}
.admin .hotel_star_wrap span.star.on svg {fill: #ffc107 !important;}
.admin .hotel_add_wrap > div {margin:0 0 6px;}
.admin .hotel_info {width:100%;height:120px;font-size:14px;font-family: inherit;resize:none;border:1px solid #ddd;padding:5px;line-height: 20px;}



.admin .hotel_service th label {display:block;width:100%;height:100%;cursor:pointer;}
.admin .hotel_service input[type="checkbox"] {vertical-align: middle;margin:0 0 2px;}

.admin .hotel_service_radio {display: inline-block;}
.admin .hotel_pay_box {display: inline-block;}
.admin .hotel_service_radio label {padding:2px 15px;background:#ddd;border-radius: 5px;cursor:pointer;margin:0 5px 0 0;}
.admin .hotel_service_radio input[type="radio"]:checked + label {background: #0047a0; color:#fff;}

.admin .hotel_service_list {display:flex;flex-wrap: wrap;}
.admin .hotel_service_list li {padding:5px 10px;border-radius: 5px;border: 1px solid #ddd;margin:0 10px 10px 0;display:flex;align-items: center;  justify-content: center;}
.admin .hotel_service_list li.hotel_servie_plus {cursor:pointer;}
.admin .hotel_service_list li img {height:21px;margin:0 5px 0 0;}
.admin .hotel_service_select_wrap {display:none;position:absolute;width:100%;height:100vh;background:rgba(255,255,255,0.7);bottom:0;left:0;z-index:999}
.admin .hotel_service_select_wrap.view {display:block !important;}
.admin .hotel_service_select {position:absolute;width:360px;max-height:640px;padding:20px;border-radius: 20px;border: 1px solid #ddd;margin:10px 0 0;background:#fff;top:50%;left:50%;transform:translate(-50%, -50%);}
.admin .room_count td div {margin:0 0 5px;}
.admin .room_count td div:last-child {margin:0;}

.admin .hotel_service_setting .hotel_service_list li {position:relative;cursor:pointer;overflow:hidden;}
.admin .hotel_service_setting .hotel_service_modify {margin:0 0 0 10px;height:18px;}
.admin .hotel_service_setting .hotel_service_modify img {height:100%;margin:0;}

.admin .hotel_fac_insert img {height:32px;}
.admin .hotel_fac_insert .table_bb tbody td {text-align: center;}

/* 부대시설 관리 */
.admin .hotelSettingModal {min-height:640px;}
.admin .fac_icon_wrap {position: relative;}
.admin .fac_icon_box {display:none;position: absolute;left:80px;top:0;text-align: left;padding: 10px;background: #fff;box-shadow: 0 0 5px rgba(0,0,0,0.1);border:2px solid #eee;width:320px;}
.admin .fac_icon_box span {display: inline-block;width: 30px;}
.admin .fac_icon_box span img{width: 30px;cursor:pointer;}
.admin .fac_icon_box .fac_btn {margin:10px 0 0;text-align: right;}
.admin .fac_icon_box.on {display:block;}
.admin .fac_icon_box p {font-size: 14px;}


.admin .profile_thumb {display:inline-block;overflow:hidden;background-color:#efefef;margin:0 0 6px;}
.admin .profile_thumb img {width: 100%;}
.admin .profile_thumb.width_b {width:400px;height:fit-content;}
.admin .profile_thumb.height_b {height:300px;width:fit-content;}
.admin .profile_thumb.height_b img {width:auto;height: 100%;}

/* kmedi */
.admin .author-section {padding: 15px; border-radius: 5px; background: #f4f4f4; font-size: 14px; line-height: 18px; color: #505050;width:fit-content;}
.admin .author-section.author_modify {cursor:pointer;display: inline-block;vertical-align: bottom;}
.admin .author-section .author-name {font-weight: 700;}
.admin .author-section .category {margin-top: 5px;}

.admin .radio_box {display:flex;align-items: center;}
.admin .radio_box > div {margin:0 10px 0 0;}

/* kmedi - 회원관리 */
.admin .tablebtn.red {background:#dd0000;}
.admin .tablebtn.blue {background:#0047a0;}

.admin .adm_statistics {display:flex;margin:0 0 20px;padding:0 0 20px;border-bottom: 1px solid #eee;}
.admin .adm_statistics div {background:#f8f8f8;margin:0 10px 0 0;padding:6px;display: flex ;}
.admin .adm_statistics h5 {font-weight: 700;color: #0047a0;padding:0 10px 4px;}
.admin .adm_statistics ul {display:flex;}
.admin .adm_statistics ul li {padding:0 10px;border-right: 1px solid #ddd;}
.admin .adm_statistics ul li:last-child {border-right: none;}

/* 상단검색창 */
.admin .kmedi_top_wrap {margin:0 0 20px;border-bottom: 1px solid #eee;padding:0 0 20px;}
.admin .kmedi_top_wrap select {max-width:100px;}
.admin .kmedi_add_btn {margin:0 0 20px;border-bottom: 1px solid #eee;padding:0 0 20px;text-align: right;}
.admin .kmedi_top_wrap > div {margin: 0 0 16px;}
.admin .kmedi_top_wrap > div:last-child {margin: 0;}
.admin .kmedi_top_wrap h5 {display: inline-block;font-weight: 600;}
.admin .kmedi_top_box {display:flex;margin:0 0 16px;gap:40px}
.admin .kmedi_top {display:flex;align-items: center;gap: 5px;}
.admin .kmedi_top_wrap .kmedi_top_btn {padding: 0 16px;border-radius: 50px;background:#eee;display: inline-block;font-size: 14px;line-height: 26px;}
.admin .kmedi_top_wrap .kmedi_top_btn.on {background: #0047a0;color: #fff;}

/* 표 */
.admin .member_table .member_invited span {color:#003679;text-decoration: underline;font-weight: 600;}
.admin .member_table td input {text-align: center;min-width:auto;max-width:120px;font-size:14px;display: inline-block;}
.admin .member_table td.long input {max-width:180px;}
.admin .table_a.member_table tbody td {font-size: 14px;}
.admin .table_a.member_table tbody th {font-size: 14px;}
.admin .table_a.member_table thead th {font-size: 14px;}

.admin .kmedi_member_wrap h3.h_title {background:#0047a0;color: #fff;padding:5px 10px;}
.admin .kmedi_member_box {margin:0 0 30px;padding:0 0 30px;border-bottom:3px solid #eee;}
.admin .kmedi_member_wrap h5 {font-size: 16px;font-weight: 700;margin:0 0 10px;color: #111;display:inline-block;}
.admin .kmedi_member_wrap h5 span {color: #0047a0;}
.admin .kmedi_member_wrap  {font-size: 14px;}
.admin .kmedi_member_wrap a.tablebtn {font-size: 12px;}

/* 이용중인구독권 */
.admin .kmedi_member_sub p {margin:0 0 10px;}
.admin .kmedi_member_sub p:last-child {margin:0;}
.admin .kmedi_member_sub p.hold {text-decoration:line-through;color: #9e9e9e;}
.admin .kmedi_member_sub a {margin:0 0 0 10px;}

/* kmedi - 회원관리 - 상세보기 */
.admin .kmedi_member_datail_tab {display: flex;line-height:36px;}
.admin .kmedi_member_datail_tab li{display: block; background:#ddd;padding:0 10px;font-size: 14px;cursor:pointer;}
.admin .kmedi_member_datail_tab li.on{background: #003679;color: #fff;}
.admin .kmedi_member_datail_tabbox {border: 1px solid #ddd;padding:20px;}
.admin .kmedi_member_datail_tabbox .tabbox {display:none;}
.admin .kmedi_member_datail_tabbox .tabbox.tab01_box {display:block;}
.admin .member_table span.wait {color:#dd0000;font-weight: 500;}
.admin .member_table span.sucsess {color:#008744;font-weight: 500;}
.admin a.default_a {color:#008dd3;font-weight:500;text-decoration: underline;}

/* 컨텐츠관리 */
.admin .adm_notifi {margin:0 0 20px;padding:0 0 20px;border-bottom: 1px solid #eee;font-weight: 600;}
.admin .adm_notifi > div {background: #fdffb1;padding:10px;}
.admin .adm_notifi p{line-height: 22px;}

.admin .kmedi_content .content_modify_label {border-right: none;}
.admin .kmedi_content .content_modify_label_on span {padding:0 10px;display:inline-block;background:#dd0000;border-radius: 50px;color: #fff;font-size: 12px;vertical-align: middle;margin:0 0 4px;}


.admin .kmedi_content .thumb_box {position:relative;display: block;margin:10px 0 0;width:fit-content;display:flex;}
.admin .kmedi_content .thumb_box .thumb_delete {cursor:pointer;position:absolute;right:-10px;top:-10px;color:#818181;font-variation-settings: 'FILL' 1;}
.admin .kmedi_content .thumb_box div {display: block;width:160px;height:120px;overflow:hidden;background:#f2f2f2;margin:0 10px 0 0;}
.admin .kmedi_content .thumb_box img {width:100%;}
.admin .kmedi_content .video_box {position:relative;display: block;margin:10px 0 0;width:fit-content;display:flex;}
.admin .kmedi_content .video_box .thumb_delete {cursor:pointer;position:absolute;right:-10px;top:-10px;color:#818181;font-variation-settings: 'FILL' 1;}
.admin .kmedi_content .video_box div {display: block;width:160px;height:90px;overflow:hidden;background:#f2f2f2;margin:0 10px 0 0;cursor:pointer;}
.admin .kmedi_content .video_modal iframe {width: 100%;}
.admin .kmedi_content .video_modal video {width: 100%;height:360px;}
.admin .kmedi_content .video_box img {width:100%;}
.admin .kmedi_content .video_history > div {display:flex;border-bottom: 1px solid #eee;line-height: 26px;align-items: center;}
.admin .kmedi_content .video_history > div p {width:220px;padding:0 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.admin .kmedi_content .video_history > div span {color:#818181;display: block;}
.admin .kmedi_content .video_history > div span.download_btn {font-size: 16px;padding:0 10px;}
.admin .kmedi_content .video_description p {margin: 0 0 6px;}

.admin #file-upload-button {font-size: 12px;}

/* 카테고리관리 */
.admin .kmedi_content .category_icon_box {position:relative;display: block;margin:10px 0 0;width:fit-content;}
.admin .kmedi_content .category_icon_box .thumb_delete {cursor:pointer;position:absolute;right:-10px;top:-10px;color:#818181;font-variation-settings: 'FILL' 1;font-size:18px;}
.admin .kmedi_content .category_icon_box div {display: block;width:60px;height:60px;overflow:hidden;background:#f2f2f2;display:flex;justify-content: center;align-items: center;}
.admin .kmedi_content .category_icon_box img {width:100%;}

.admin .kmedi_content .category_2depth {display:flex;justify-content: center;}
.admin .kmedi_content .category_2depth_left {justify-content: left;}
.admin .kmedi_content .category_2depth p{font-size: 14px;padding:0 10px;line-height: 22px;border: 1px solid #ddd;border-radius: 50px;margin:0 6px 0 0; }
.admin .kmedi_content .category_2depth_none p{border: none;}
.admin .kmedi_content .category_2depth_insert {justify-content: left;margin:6px 0 0;}
.admin .kmedi_content .category_2depth_insert > div {margin:6px 0 0;}
.admin .kmedi_content .category_2depth_insert > div input {margin:0 2px;}
.admin .kmedi_content .category_2depth_insert > div .tablebtn {margin:0 2px;}


/* 결제내역 */
.admin .payment_box {margin:0 0 40px;}

/* 1:1문의 */
.admin .inquiry_box {margin:0 0 40px;}

/* 공지사항 */
.admin .kmedi_content .kmedi_notice .file_wrap {display:flex; align-items: center;    justify-content: center;}
.admin .kmedi_content .kmedi_notice .file_wrap a{display:flex; align-items: center;margin:0 10px 0 0;}
.admin .kmedi_content .kmedi_notice .file_wrap img{width:18px;}
.admin .kmedi_content .kmedi_notice .viewer_wrap img{width:12px;margin:0 0 -2px;}

/* Q&A */
.admin .qna_img {display:inline-block;width:80px;height:60px;overflow:hidden;background-color:#efefef;cursor:pointer;}
.admin .qna_img img {width: 100%;height: 100%; object-fit: cover;}
.admin .qna_thumb_file {margin:0 0 10px;}

/* 배너관리 */
.admin .banner_thumb_td img{max-width:160px;}


.admin .MuiFormControlLabel-label {font-size: 14px;}
.admin .comment_title {display: flex; align-items: center; justify-content: space-between;}

/* 갤러리 답글 */
.admin .comment {padding:20px;background:#f6f6f6;margin:0 0 16px;}
.admin .comment .flex {display:flex; align-items: center;gap:16px;}
.admin .comment .comment_top {padding:0 0 10px;border-bottom: 1px solid #c6c6c6;display:flex; align-items: center;justify-content: space-between;}
.admin .comment .comment_top p {color:#616161;}
.admin .comment .comment_top .name {font-size: 16px;font-weight: 900;color: #111;}
.admin .comment .date {color: #818181;padding:30px 0 0;}
.admin .comment .text {padding:20px 0 0;}
.admin .comment .text textarea {padding:10px;}
.admin .comment .recomment {margin:10px 0 0;padding:20px;background: #eaeaea;}
.admin .comment .orgcomment + .recomment {margin:30px 0 0;}
.admin .comment .comment_btn {display:flex;gap:6px;}
.admin .comment .comment_btn a, .comment .comment_btn button{text-decoration: underline;background: none;outline: none; border:none;padding:0;font-family: inherit;cursor:pointer;}
.admin .comment .comment_btn a.blue {color: #0047a0;}
.admin .comment .comment_btn a.red {color: #dd0000;}






/* 스피너 */
.admin .spinner {position:fixed;top:0;left:0;width:100%;height:100vh;background:rgba(255,255,255,0.4);z-index:9999;}
.admin .spinner span {position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);padding:0 !important;color:#0047A0;margin-left: -20px;}
.admin .spinner span.error {color:#1976d2;}

.admin div.select {border: 1px solid #ddd;height: 28px; line-height: 28px; font-size: 14px; color: #333; padding: 0 10px; cursor: pointer; border-radius: 5px;background:url('/img/common/arrow_btm.png') right 10px center no-repeat;}
.admin div.select:focus-visible {outline:-webkit-focus-ring-color auto 1px;    border: 1px solid #000;}
.admin div.select input:focus-visible {outline:-webkit-focus-ring-color auto 1px;    border: 1px solid #000;}
.admin div.select:focus {outline:-webkit-focus-ring-color auto 1px;    border: 1px solid #000;}
.admin div.select input:focus {outline:-webkit-focus-ring-color auto 1px;    border: 1px solid #000;}

/* 404 */
.admin .error_page {padding:120px 0 0;text-align:center;height:100vh;background:#f2f2f2;}
.admin .error_page > img {width:180px;}
.admin .error_page a.backbtn {background:#fff;}
.admin .error_page h3 {font-size: 32px;font-weight: 700;margin: 32px 0 15px;}

/* pagenation */
/*.admin .pagenation ul {justify-content: center;margin:40px 0 0;}*/
/*.admin .pagenation ul li {border-radius:5px !important;}*/
/*.admin .pagenation ul li button {background:#f2f2f2;}*/
/*.admin .pagenation ul li:first-child button, .pagenation ul li:last-child button {background:none;}*/

.admin .cursor-pointer {cursor: pointer;}


/* table정렬 아이콘 */
/* .table_sort {position:absolute;display:flex; justify-content: center; align-items: center;} */
.admin .table_sort {position:relative;}
.admin .table_sort > div {position: absolute;right:0;top:50%;transform: translate( 0, -50%);}
.admin .table_sort svg {display:block;width:24px;height:24px;padding:0;margin:-14px 0; fill:#9e9e9e;}
.admin .table_sort .sort_asc svg:first-child {fill:#006bef;}
.admin .table_sort .sort_desc svg:last-child {fill:#006bef;}

.admin .search_box {
    display: flex;
    align-items: center;
}

@page {
    size: A4;
    margin: 5mm;
}